/*
bubbles
*/
/* different background colors */
.c0{background:#1c1c1c;}
.c1{background:#8a8a8a;}
.c2{background:#ffffd7;}
.c3{background:#af8700;}
.c4{background:#d75f00;}
.c5{background-image: url(Auggie.jpg); padding-bottom: 9%; padding-right: 5%}
.c6{background:#af005f;}
.c7{background:#5f5faf;}
.c8{background:#0087ff;}
.c9{background:#00afaf;}
.c10{background:#5f8700;}

.puck {
	height:50px;
	width:50px;
	border-radius:25px;
	display: block;
	position: absolute;
	z-index: 10;
}

body {
}

html {
	background-color:black;
	display:flex;
}

#container {
	background-color: gray; 
}

#gameArea {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:800px;
	height:640px;
	margin:auto;
	border:5px solid #444;
	border-radius:7px;
	background-color: #303030;
}

#messageOverlay {
	position: absolute;
	width:800px;
	height:640px;
	margin:auto;
	background:rgba(0,0,0,0.7);
	z-index: 9999;
}

#messageOverlay h1{
	top: 180px;
	text-align: center;
	position: relative;
    color: white;
}
